## Rename this file to local.properties and set your Android SDK path.
## Android Studio normally creates this automatically the first time you open the project.
# sdk.dir=C\:\\Users\\YourName\\AppData\\Local\\Android\\Sdk
